body {
    font-family: Arial, sans-serif; 
    color: #333; 
    background-color: #f9f9f9; 
}

header h1 {
    color: #000; 
    text-align: center; 
    margin-bottom: 20px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.profile-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin: 0 auto 10px auto;
    text-transform: uppercase;
    font-weight: bold; /* Make the initials bold */
}

.profile-box h2 {
    color: #000; 
    font-size: 2em;
    font-weight: bold; /* Make the name bold */
    margin-bottom: 10px;
}

.profile-box p {
    margin: 5px 0; 
}

.profile-box p.profession {
    font-size: 1.5em;
    font-weight: bold;
}

.profile-box .areas-of-expertise {
    font-weight: bold;
}

.profile-box .firm {
    font-style: italic;
    font-weight: bold;
}

.specializations {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 4.5em; 
}

/* Responsive design */
@media (max-width: 768px) {
    .profile-box {
        padding: 10px;
    }

    .profile-box h2 {
        font-size: 1.2em;
    }
}
