:root {
    --menu-count: 5;
}

.header-main {
    width: 100%;
    padding: 0 60px;
    height: 60px;
    background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    color: #000000;
  }

  .header-main nav {
    display: flex;
    flex-grow: 1;
  }

  .header-main .logo {
    height: 40px;
    width: auto;
    align-self: center;
    cursor: pointer;
  }

  .header-main .logo img {
    height: 100%;
  }

  .header-main ul {
    height: 100%;
    padding-left: 40px;
    list-style: none;
    display: flex;
    align-self: center;
    gap: 10px;
  }

  .header-main ul li {
    position: relative;
  }

  .header-main ul li a {
    display: block;
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif ;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 100ms;
  }

  .header-main ul li a:hover {
    background-color: #292929;
    color: #ffffff;
    border-radius: 20px;
  }

/*DROPDOWN STYLING START*/

.header-main ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -40px;
    transition: all ease-in-out 100ms;
}

.header-main ul li ul li a {
    white-space: nowrap;
}

ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

/*DROPDOWN STYLING STOP*/

.header-main .sm {
    align-self: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-left: 20px; /* Add padding to create space */
}

.header-main form.search {
    height: 40px;
    padding-right: 2px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 20px ;
    width: fit-content;
    align-self: center;
    margin-right: 20px;
}

.header-main form.search input {
    height: 100%;
    width: 300px;
    padding: 0 10px 0 20px;
    border-radius: 500px;
    border-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: #000000;
}

.header-main form.search input:focus {
    border: 1px solid #111;
}

.header-main form.search button {
    width: fit-content;
    padding: 0 5px 0 10px;
}

.header-main form.search button img {
    height: 30px;
    padding-top: 15%;
    cursor: pointer;
}

.header-main .sm-links {
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.header-main .sm-links a {
    display: block;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    align-self: center;
}

.header-main .sm-links img {
    height: 100%;
}

.username {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #000; /* Change color as needed */
}

.username:hover {
  cursor: pointer;
  text-decoration: underline;
}


.logout {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logout form {
  margin: 0;
}

.logout-button {
  background-color: rgb(0, 0, 0);
  height: 40px;
  padding: 0 20px;
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  color: #ffffff;
  transition: all ease-in-out 100ms;
}

.logout-button:hover {
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  border: none;
}


footer {
  background-color: #000000; /* Black background color for footer */
  color: white; /* White text color for footer */
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}


@media (max-width: 768px) {
  .header-main nav {
      flex-direction: column;
  }

  .header-main ul {
      flex-direction: column;
      align-items: center;
  }

  .header-main ul li {
      margin: 10px 0;
  }

  .logout {
      flex-direction: column;
      margin-top: 10px;
  }

  .logout .username {
      margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header-main nav {
      padding: 0 10px;
  }

  .header-main ul li a {
      padding: 10px;
      font-size: 14px;
  }

  .header-main ul ul li a {
      padding: 10px;
      font-size: 14px;
  }

  .logout .username {
      padding: 8px 10px;
      font-size: 14px;
  }

  .logout .logout-button {
      padding: 8px 10px;
      font-size: 14px;
  }
}